body{
    background:url("../images/photos/bodyBackground.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
    filter: alpha(opacity=50);
    font-family: 'Times New Roman', Times, serif;
}
#headerBackground {
    background:url("../images/photos/headerBackground.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#projectButton, #contactButton, #resumeButton, #toggleButton {
    background: greenyellow;
    color: rgb(0, 94, 255);
}
.text{overflow:auto}

